*{
	background-color: rgb(108,142,161);
}
button{
	flex: auto;
	width: 8em;
	height: 3em;
	flex-direction: row;
	justify-content: space-between;
	margin-block: 1em;

}
#content{
	display: flex;
	justify-content: space-between;
	position: relative;
}
/* #container{

} */
